/* Set a dark background */
body {
    background-color: #343a40;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-bottom: 60px; /* Height of the button + margin */
}

/* Customize chat window styling */
.chat-window {
    place-content: center;
    height: 70vh;
    overflow-y: scroll;
}

/* Style the scrollbar background */
::-webkit-scrollbar {
  background: #343a40;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
}

.user-message {
    background-color: #6c757d;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: auto;
}

.bot-message {
    background-color: #212529;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: auto;
}

.card {
    display: block;
}

.card-body {
    padding: 0;
}

.button-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.send-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #343a40;
}

.names {
    text-align: center;
}